.App {
  text-align: center;
}

.nav-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
  margin-top: 0rem;
  background-color: #cccccc;
  padding: 1.5rem 1rem;
}

.nav-bar ul li {
  list-style-type: none;
}

.nav-bar ul li:hover {
  cursor: pointer;
  font-weight: 600;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #1a1a1a;
}

.pokemon-details {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.pokemon-details .pokemon-img {
  width: 10%;
}

.pokemon-details .pokemon-info {
  margin: 0;
}

.pokemon-details .pokemon-info span {
  font-size: xx-large;
}

.pokemon-details .pokemon-more-info a {
  text-decoration: none;
  color: #1a1a1a;
}

.pokemon-details .pokemon-maps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.pokemon-details .pokemon-maps .pokemon-map {
  margin: 1rem 3rem;
}

.pokemon-maps .pokemon-map p {
  text-align: center;
}

.pokemon-maps .pokemon-map img {
  width: 250px;
}
