.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.pokemon a {
  position: relative;
}

.pokemon-img-more-info {
  font-size: x-small;
  position: absolute;
  bottom: 0;
  left: 5%;
}

.favorite {
  box-shadow: rgba(255, 187, 0, 0.25) 0px 54px 55px, rgba(255, 187, 0, 0.12) 0px -12px 30px, rgba(255, 187, 0, 0.12) 0px 4px 6px, rgba(255, 187, 0, 0.17) 0px 12px 13px, rgba(255, 187, 0, 0.09) 0px -3px 5px;
}
