.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.pokemon a {
  position: relative;
}

.pokemon-img-more-info {
  font-size: x-small;
  position: absolute;
  bottom: 0;
  left: 5%;
}
